@import './variables';

// mixin 함수 사용 법
// ex) @include H1($blue);
@mixin H1($color: $black) {
  font-family: Montserrat-bold;
  font-size: 2rem; /* 32px */
  font-weight: 700;
  line-height: 2.4375rem; /* 39px */
  color: $color;
}

@mixin H2($color: $black) {
  font-family: Montserrat-bold;
  font-size: 1.5rem; /* 24px */
  font-weight: 700;
  line-height: 1.83125rem; /* 39px */
  color: $color;
}

@mixin H3($color: $black) {
  font-family: Montserrat-bold;
  font-size: 0.875rem; /* 14px */
  font-weight: 700;
  line-height: 2.4375rem; /* 39px */
  color: $color;
}

@mixin T1($color: $black) {
  font-family: NotoSansKR-bold;
  font-size: 1.25rem; /* 20px */
  font-weight: 700;
  line-height: 1.7rem; /* 27.2px */
  color: $color;
}

@mixin T2($color: $black) {
  font-family: NotoSansKR-bold;
  font-size: 0.875rem; /* 14px */
  font-weight: 700;
  line-height: 1.26875rem; /* 20.3px */
  color: $color;
}

@mixin T3($color: $black) {
  font-family: NotoSansKR-regular;
  font-size: 0.875rem; /* 14px */
  font-weight: 400;
  line-height: 1.26875rem;
  color: $color;
}

@mixin T4($color: $black) {
  font-family: NotoSansKR-bold;
  font-size: 0.75rem; /* 12px */
  font-weight: 700;
  line-height: 1.0875rem; /* 17.4px */
  color: $color;
}

@mixin T5($color: $black) {
  font-family: NotoSansKR-regular;
  font-size: 0.75rem; /* 12px */
  font-weight: 400;
  line-height: 1.0875rem; /* 17.4px */
  color: $color;
}

@mixin T6($color: $black) {
  font-family: NotoSansKR-medium;
  font-size: 0.625rem; /* 10px */
  font-weight: 500;
  line-height: 0.90625rem; /* 14.5px */
  color: $color;
}

@mixin C1($color: $black) {
  font-family: NotoSansKR-regular;
  font-size: 0.5rem; /* 8px */
  font-weight: 400;
  line-height: 0.725rem; /* 11.6px */
  color: $color;
}

/* ------------------------------------- */
/* ------------- flex 정렬 -------------- */
/* ------------------------------------- */
// ex) @include flex(flex-start, center, colum); * 마지막 $dir은 생략가능
@mixin flex($jus, $ali, $dir: row) {
  display: flex;
  justify-content: $jus;
  align-items: $ali;
  flex-direction: $dir;
}

/* ------------------------------------- */
/* ----------- 반응형 mixin 함수 ---------- */
/* ------------------------------------- */
// ex) @include media('mobile') {
//      변경할 css작성....
//     }
@mixin media($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);

  @if $raw-query {
    $query: if(type-of($raw-query) == 'string', unquote($raw-query), inspect($raw-query));

    @media #{$query} {
      @content;
    }
  } @else {
    @error '`#{$breakpoint}` 값을 찾을 수 없다.';
  }
}
