/* ------------------------------------- */
/* ------------ color chips ------------ */
/* ------------------------------------- */
$white: #fff;
$black: #000;
$blue: #5481b7;
$purple: #6034b0;
$dark_grey: #5e5e5e;
$grey: #a4a4a4;
$background_grey: #f5f6fa;

/* ------------------------------------- */
/* ------------ breakpoints ------------ */
/* ------------------------------------- */
$breakpoints: (
  'mobile': (
    max-width: 375px,
  ),
  'tablet': (
    max-width: 768px,
  ),
  'desktop': (
    max-width: 1024px,
  ),
);
