@font-face {
  font-family: Montserrat-bold;
  src: url('../../public/fonts/Montserrat-Bold.otf');
}

@font-face {
  font-family: Montserrat-bold;
  src: url('../../public/fonts/Montserrat-Bold.ttf');
}

@font-face {
  font-family: NotoSansKR-bold;
  src: url('../../public/fonts/NotoSansKR-Bold.otf');
}

@font-face {
  font-family: NotoSansKR-bold;
  src: url('../../public/fonts/NotoSansKR-Bold.ttf');
}

@font-face {
  font-family: NotoSansKR-medium;
  src: url('../../public/fonts/NotoSansKR-Medium.otf');
}

@font-face {
  font-family: NotoSansKR-medium;
  src: url('../../public/fonts/NotoSansKR-Medium.ttf');
}

@font-face {
  font-family: NotoSansKR-regular;
  src: url('../../public/fonts/NotoSansKR-Regular.otf');
}

@font-face {
  font-family: NotoSansKR-regular;
  src: url('../../public/fonts/NotoSansKR-Regular.ttf');
}
