@import '../../styles/mixin', '../../styles/variables';

.layoutContainer {
  @include flex(space-between, center, column);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-color: $background_grey;
  .content {
    width: 100%;
    min-height: 100%;
    padding-top: 86px;
  }
}
