@import '../../../../styles/mixin', '../../../../styles/variables';

.container {
  @include flex(flex-start, center);
  width: 100%;

  li {
    // height: 33px;
    a {
      @include H3();
      display: block;
      padding: 0 14px 6px;
    }
  }

  .active {
    position: relative;
    a {
      @include H3($purple);
      display: block;
      padding: 0 14px 6px;
    }
  }
  .active::after {
    content: '';
    width: 100%;
    height: 3px;
    background: $purple;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
