@import '../../src/styles/mixin', '../../src/styles/variables';

.container {
  width: 100%;
  min-height: 100%;
}

.sectionContainer {
  @include flex(center, center, column);
  width: 100%;
  height: 100%;

  section {
    width: 100%;
    max-width: 1440px;
    padding: 0 40px;

    h2 {
      @include H2();
      margin: 45px 0 20px;
    }
  }

  .row {
    @include flex(flex-start, flex-start);
    width: 100%;
  }

  .historyContainer {
    width: 100%;
    height: 379px;
    padding: 22px 22px 0;
    background-color: $white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);

    .historyTitleContainer {
      @include flex(flex-start, flex-start);
      width: 100%;

      h3 {
        @include T2();
        width: 80px;
        margin-bottom: 20px;
      }

      .saleDateTitle {
        margin-right: 41px;
      }

      .gradeTitle {
        margin-right: 41px;
      }

      .myTradesTitle {
        margin-right: 106px;
      }

      p {
        @include T3();
      }
    }
  }
}
