@import '../../../styles/mixin', '../../../styles/variables';

.tabContainer {
  @include flex(flex-start, center);
  width: 100%;

  li {
    a {
      @include H3();
      padding: 0 14px 10px;
    }
  }

  .active {
    border-bottom: 3px solid $purple;

    a {
      @include H3($purple);
      padding: 0 14px 10px;
    }
  }
}
